#cartPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 1px solid red; */
}

#cartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 10px;
  padding-bottom: 100px;
  /* border: 1px solid green; */
}

#checkoutPart {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* border: 1px solid red; */
}

#proceedButton {
  padding: 10px;
  text-align: center;
  background: #22d1dc;
  outline: none;
  border-radius: 16px;
  border: 0;
  cursor: pointer;
  transition: 500ms ease-in;
  color: black;
  font-size: 18px;
  margin-top: 10px;
}

#proceedButton:hover {
  background: #000000;
  color: white;
  transform: scale(1.05, 1.05);
}
