#checkoutPageContainer {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 500px;
  height: 300px;
  background: #22d1dc50;
  padding: 40px;
  border-radius: 20px;
}

.submitCheckout {
  display: block;
  padding: 10px;
  text-align: center;
  background: #22d1dc;
  outline: none;
  border-radius: 16px;
  border: 0;
  cursor: pointer;
  transition: 500ms ease-in;
  color: black;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
}

.submitCheckout:hover {
  background: #22d1dc90;
  /* color: white; */
  transform: scale(1.05, 1.05);
}
